<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <title>{{appData.title}} : DecisionAgony</title>
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <!--
  	57 x 57 Android and iPhone 3 icon
  	114 x 114 iPhone 4 icon
  	57 x 57 Nokia icon
  	broser icon -->
    <link rel="apple-touch-icon" media="screen and (resolution: 163dpi)" href="{{ tree.imgs.icon57 }}" />
    <link rel="apple-touch-icon" media="screen and (resolution: 326dpi)" href="{{ tree.imgs.icon114 }}" />
    <link rel="shortcut icon" href="{{ tree.imgs.icon57 }}" type="image/x-icon" />
    <link rel="icon" href="{{ tree.imgs.favicon }}" sizes="16x16">
</head>
<body>
<script src="/mergedAssets.js"></script>
<script>
    (function() {
        var App = window.App = new (require('app/app'))({{json appData}});
        App.bootstrapData({{json bootstrappedData}});
        App.start();
    })();
</script>
</body>
</html>